/* Base Styles */
body {
  background: radial-gradient(circle, red,black);
  color: #fff;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin:20px auto;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  border: 1px solid #e2e8f0;
  padding: 8px;
  text-align: left;
  color: #fff;
}

.table th {
  background-color: #3498db;
}

.form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

/* Background Colors */
.bg-primary {
  background-color: #3498db;
}

.bg-success {
  background-color: #2ecc71;
}

.bg-danger {
  background-color: #e74c3c;
}

.bg-info {
  background-color: #3490dc;
}

/* Text Color */
.text-white {
  color: #fff;
}

/* Button Styles */
button {
  background-color: blue;
  margin: 10px;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Media Queries for Responsive Design */
@media only screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }

  .table th,
  .table td {
    padding: 6px;
  }

  .form-input {
    padding: 6px;
  }
}
